Ir para o conteúdo
Pesquise ou pule para…
Solicitação de pull s
Problemas
Mercado
Explorar
 
@Vaniawolf14 
olhe12
/
Olhe_programacao2022-3tri
Público
Código
Problemas
Solicitações de pull
Ações
Projetos
Segurança
Percepções
Olhe_programacao2022-3tri/estilo.css _
@olhe12
cor de fundo olhe12
Último commit 3c60c79 há 7 dias
 História
 1 colaborador
61 linhas (54 sloc)  818 Bytes

corpo {
    cor de fundo : lightcyan;
}

. texto-principal {
    margem direita :  20 % ;
}

h1 {
    cor :  # D3D3D3 ;
    text-align : centro;
}
h2 {
    cor :  # 483D8B ;
}
p {
    cor :   # 5F9EA0 ;

}
# imagem-principal {
    largura :  10 % ;
    margem esquerda :  80 % ;
    borda :  salmão pontilhado de 5 px ;
    flutuar : esquerda;
    posição : absoluta;
}

. itens {
	cor :   # 5F9EA0 ;
	decoração de texto : sublinhado;
}
. texto-principal {
    margem direita :  20 % ;
}

h1 {
    cor :  # D3D3D3 ;
    text-align : centro;
}
h2 {
    cor :  # 483D8B ;
}
p {
    cor :   # 5F9EA0 ;

}
# imagem-principal {
    largura :  10 % ;
    margem esquerda :  80 % ;
    borda :  salmão pontilhado de 5 px ;
    flutuar : esquerda;
    posição : absoluta;
}

. itens {
	cor : azul;
	decoração de texto : sublinhado;
}
 nav  li {
    exibição : em linha;
}
Rodapé
© 2022 GitHub, Inc.
Navegação no rodapé
Termos
Privacidade
Segurança
Status
Documentos
Entre em contato com o GitHub
Preços
API
Treinamento
Blogue
Sobre



